.swagger-ui .topbar {
  background-color: #0d1117;
}

.swagger-ui .topbar .topbar-wrapper span {
  color: #ffffff;
  font-weight: bold;
}

.swagger-ui .scheme-container {
  background: #f0f0f0;
}

.swagger-ui .opblock-summary-method {
  background-color: #007bff;
}

.swagger-ui .opblock {
  border-radius: 6px;
}

.swagger-ui .info .title {
  font-size: 28px;
  color: #007bff;
  font-weight: 600;
}